* {
  box-sizing: border-box;
  font-family: system-ui, Arial;
}

body {
  margin: 0;
  background: #0b0b0b;
  color: #fff;
  overflow: hidden;
}

header {
  position: fixed;
  top: 10px;
  left: 10px;
  background: rgba(20,20,20,.9);
  padding: 12px;
  border-radius: 12px;
  z-index: 10;
}

nav button {
  margin: 4px;
  padding: 8px 14px;
  background: #222;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

nav button:hover {
  background: #444;
}

#content {
  margin-top: 90px;
  padding: 15px;
}

canvas {
  background: #111;
  border: 1px solid #333;
}

.editor-ui {
  position: fixed;
  top: 90px;
  left: 10px;
  background: rgba(15,15,15,.95);
  padding: 12px;
  border-radius: 10px;
  width: 190px;
  z-index: 20;
}

.editor-ui h3 {
  margin: 0 0 8px 0;
}

.editor-ui button {
  width: 100%;
  margin: 4px 0;
  padding: 6px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #222;
  color: white;
}

.editor-ui button.active {
  background: #00aaff;
}

