* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #0e0e0e;
  color: white;
  overflow: hidden;
}

/* HEADER */
header {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 20;
  background: rgba(0,0,0,0.7);
  padding: 12px 16px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}

nav button {
  background: #1f1f1f;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

nav button:hover {
  background: #3a3a3a;
}

/* UI */
#content {
  position: fixed;
  top: 90px;
  left: 15px;
  z-index: 20;
  background: rgba(0,0,0,0.6);
  padding: 12px;
  border-radius: 10px;
}

/* MOTOR 3D */
#editor3d {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
}
